* {
    font-family: 'Nunito', sans-serif;
}

html,
body {
    margin: 0px;
    height: 100vh;
}

.container {
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    position: absolute;
    background-color: rgb(240, 240, 240);
}

.pageBox {
    display: flex;
    flex-direction: column;
    max-width: 1272px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 1272px) {
    .pageBox {
        padding: 48px 0px 0px 0px !important;
    }
}