.loginBox {
    display: flex;
    align-items: center;
    width: 100%;
    height: 779px;
    margin-top: 50px;
}

.boxForm-login {
    width: 40%;
    height: 100%;
    border-top: 1px solid rgba(192, 192, 192, 0.712);
    border-left: 1px solid rgba(192, 192, 192, 0.712);
    border-bottom: 1px solid rgba(192, 192, 192, 0.712);
    border-radius: 7px 0px 0px 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    transition: 0.088s ease-out;
}

.boxForm-signup {
    max-height: 779px;
    padding: 10px 0;
    margin-top: 0;
    transition: 0.088s ease-in;
}

.loginImg {
    width: 60%;
    height: 100%;
    border-top: 1px solid rgba(192, 192, 192, 0.712);
    border-right: 1px solid rgba(192, 192, 192, 0.712);
    border-bottom: 1px solid rgba(192, 192, 192, 0.712);
    border-radius: 0px 7px 7px 0px;
}

.loginImg img {
    background-size: 1440px 960px;
    object-fit: none;
    width: 100%;
    height: 100%;
    border-radius: 0px 7px 7px 0px;
}

.entryWith {
    position: relative;
    margin-bottom: 10px;
}

.entryWith::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 12px;
    right: 110px;
    display: block;
    clear: both;
    background-color: rgba(192, 192, 192, 0.712);
}

.entryWith::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 12px;
    left: 110px;
    display: block;
    clear: both;
    background-color: rgba(192, 192, 192, 0.712);
}

.haveAccount>p>span {
    color: rgb(18, 167, 149);
    text-decoration: none;
    cursor: pointer;
}