.modalHeaderBox {
    width: 372px;
    height: 414px;
    background-color: white;
    position: absolute;
    z-index: 4;
    box-shadow: 0px 0px 10px #00000029;
    margin-top: 45px;
    max-height: calc(-65px + 100vh);
    max-width: calc(-24px + 100vw);
    margin-right: 5px;
    border-radius: 10px;
}

.modalProfile {
    right: 0;
}

.hidden {
    width: 0;
    height: 0;
    visibility: hidden;
}

.contentModalHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.contentModalHeader>p:nth-child(2) {
    text-transform: capitalize;
    margin-bottom: -10px;
}

.contentModalHeader>p:nth-child(3) {
    opacity: 0.6;
}

.contentModalHeader>.profileImg {
    width: 100%;
    right: 0;
    position: relative;
    height: 80px;
    margin-top: 20px;
}

.contentModalHeader>.profileImg>img {
    width: 80px;
    height: 80px;
}

.contentModalHeader>.btnBlue {
    width: 80%;
}